body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #efefef;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

section {
  background-color: white;
  padding: 60px 30px;
  border-radius: 20px;
  margin: 60px 0;
}
p {
  line-height: 22px;
  margin-bottom: 20px;
  text-align: justify;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
}

/* -- HEADER --*/

header {
  background-color: white;
  margin-bottom: 1px;
  color: #f3735f;
  border-bottom: 1px solid #f3735f;
}
header img {
  width: 200px;
  margin: 24px;
}

/* -- --- --*/
/* -- BODY --*/
/* -- --- --*/

/* baseline */

.baseline {
  margin-top: 8px;
  text-align: center;
  font-size: 12px;
  color: #6c6c6c;
}

#preparation-time {
  background: #8a98b1;
  border-radius: 10px;
  height: 45px;
  margin: 0 auto;
  width: 400px;
  position: relative;
}

#preparation-time div {
  position: absolute;
  top: 25%;
  width: 100%;
}
#preparation-time div p {
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

/* div image */

.images-galery img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 60px 9px;
}

/* list of ingrédients */

#ingredients-list li {
  /* font-weight: 400; */
  list-style-type: disc;
  font-size: 16px;
  line-height: 22px;
  color: #6c6c6c;
  list-style-position: inside;
}
